table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background-color: #F2F2F2;
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #F9F9F9;
    }
    tr:hover {
      background-color: #ddd;
    }
  }