<div id="<%= dom_id tenant %>">
  <div class= "tenant-info">
    <p>
      <strong>Name:</strong>
      
      <%= tenant.name %>
    </p>
    <p>
        <strong>Articles:</strong>
        <%= link_to "View Articles", tenant_articles_path(tenant) %>
    </p>
  </div>
 <%# </div>
 <%# <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>    