<% content_for :title, "Editing Organization" %>

<h1 class= "page-title">Editing Organization</h1>

<div class= "form-container">
<%= render "form", tenant: @tenant %>

<br>

<div class="link-container">
  <%= link_to "Show this Organization", @tenant, class: "button-link" %> 
  <%= link_to "Back to Organization", tenants_path, class: "button-link" %>
</div>

