<% content_for :title, "New Organization" %>

<h1 class="page-title">Organization</h1>

<div class="form-container">
  <%= render "form", tenant: @tenant %>
</div>

<br>

<div class="link-container">
  <%= link_to "Back to Organizations", tenants_path, class: "back-link"%>
</div>

