*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: sticky;
    top: 0;
    z-index: 4;
    position: sticky;

}
menu-list{
    list-style-type: none;
}
.list-items{
    list-style-type: none;
   display: flex;
   gap: 30px;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 30px;
   text-align: right;
}
.list-items li a {
    text-decoration: none;
    color: rgb(38, 230, 21);
    justify-content: space-around;
}
#main{
    text-align: center;
    padding: 90px 80px;
    position: relative;
    width: 30%;
    height: 20%;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(111, 157, 230);
    box-sizing: content-box;
    /* text-align: left; */
    margin: 80px;
   background-color: rgb(115, 179, 139);
}
.contact{
    font-weight: 500;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    justify-content: space-between;
    
}
.input-box{
    width: 100%;
    margin: 10px;
}
#button1{
    position: relative;
    /* width: 30%; */
    /* height: 3%; */
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(111, 157, 230);
    /* box-sizing: content-box; */
    text-align: left;
   /* margin: 0 auto; */
}
#name{
    
}
